<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paddy.btc.notifier.btc_notifier">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
                android:name=".ui.ActivityCurrentPrice"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name=".utils.PriceWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/btc_appwidget_notifier" />
        </receiver>

        <service android:name=".backend.services.UpdateWidgetService"></service>

    </application>
</manifest>
